<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <title>数据管理</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  </head>
  <body>
    <!-- ############### 表 ################# -->
    <div style="padding: 16px">
      <div class="layui-card">
        <div class="layui-card-body">
          <table class="layui-hide" id="task-table" lay-filter="task-table"></table>
        </div>
      </div>
    </div>

    <!-- ############### 弹出的表单窗口 ################ -->
    <form class="layui-form" lay-filter="task-form" id="task-form" action="" style="padding: 15px; display: none">
      <div class="layui-form-item">
        <label class="layui-form-label">ID</label>
        <div class="layui-input-block">
          <input type="text" name="id" value="0" lay-verify="required" autocomplete="off" class="layui-input" disabled />
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">任务名</label>
        <div class="layui-input-block">
          <input type="text" name="name" placeholder="请输入输入任务名" lay-verify="required|word_num" autocomplete="off" class="layui-input" />
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">城市</label>
        <div class="layui-input-block">
          <input type="checkbox" name="北京" title="北京" />
          <input type="checkbox" name="上海" title="上海" />
          <input type="checkbox" name="深圳" title="深圳" />
          <input type="checkbox" name="广州" title="广州" />
          <input type="checkbox" name="杭州" title="杭州" />
          <input type="checkbox" name="成都" title="成都" />
          <input type="checkbox" name="天津" title="天津" />
          <input type="checkbox" name="合肥" title="合肥" />
          <input type="checkbox" name="东莞" title="东莞" />
          <input type="checkbox" name="武汉" title="武汉" />
          <input type="checkbox" name="西安" title="西安" />
          <input type="checkbox" name="重庆" title="重庆" />
          <input type="checkbox" name="郑州" title="郑州" />
          <input type="checkbox" name="南京" title="南京" />
          <input type="checkbox" name="济南" title="济南" />
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">检索渠道</label>
        <div class="layui-input-block">
          <input type="radio" name="channels" value="抖音" title="抖音" lay-verify="otherReq" />
          <input type="radio" name="channels" value="搜狐" title="搜狐" />
          <input type="radio" name="channels" value="微博" title="微博" />
          <input type="radio" name="channels" value="腾讯" title="腾讯" />
          <input type="radio" name="channels" value="百度" title="百度" />
          <input type="radio" name="channels" value="头条" title="头条" />
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">时间间隔</label>
          <div class="layui-input-inline">
            <input type="text" name="interval" lay-verify="required" class="layui-input" id="task-form-interval" placeholder="HH:mm:ss" />
          </div>
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">开始时间</label>
          <div class="layui-input-inline">
            <input type="text" name="start_datetime" lay-verify="required" class="layui-input" id="task-form-start-datetime" placeholder="yyyy-MM-dd HH:mm:ss" />
          </div>
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">结束时间</label>
          <div class="layui-input-inline">
            <input type="text" name="end_datetime" lay-verify="required" class="layui-input" id="task-form-end-datetime" placeholder="yyyy-MM-dd HH:mm:ss" />
          </div>
        </div>
      </div>
      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
          <textarea placeholder="请输入内容" name="description" lay-verify="word_num" class="layui-textarea"></textarea>
        </div>
      </div>

      <div class="layui-form-item">
        <div class="layui-input-block">
          <button type="submit" class="layui-btn" lay-submit lay-filter="task-form-add">立即提交</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
      </div>
    </form>

    <!-- ############### 表工具栏右侧 ################ -->
    <script type="text/html" id="task-toolbar">
      <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="task-toolbar-add">
          新增任务
        </button>
      </div>
    </script>

    <!-- ############### 每行的操作按钮 ################ -->
    <script type="text/html" id="task-tool">
      <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm  layui-bg-blue" lay-event="task-tool-edit">
          编辑
        </button>
        <button class="layui-btn layui-btn-sm layui-bg-red" lay-event="task-tool-del">
          删除
        </button>
        <a class="layui-btn layui-btn-sm" lay-event="task-tool-more">
          更多
          <i class="layui-icon layui-icon-down"></i>
        </a>
      </div>
    </script>

    <script>
      layui.use(function () {
        var table = layui.table
        var $ = layui.$
        var form = layui.form
        var laydate = layui.laydate
        var popup = layui.popup
        var dropdown = layui.dropdown
      
        // 创建渲染实例
        table.render({
          elem: '#task-table',
          id: 'task-table',
          url: '/api/v1/function/task', // 此处为静态模拟数据，实际使用时需换成真实接口
          height: 'full-35', // 最大高度减去其他容器已占有的高度差
          toolbar: '#task-toolbar',
          page: true,
          // 表格工具栏右侧按钮
          defaultToolbar: [
            'filter',
            'exports',
            'print',
            {
              title: '更多导出功能待开发', // 自定义自定义工具栏按钮
              // layEvent: 'LAYTABLE_TIPS',
              icon: 'layui-icon-tips'
            }
          ],
          // totalRow: true, // 开启合计行
          cols: [
            (function () {
              // 表头
              var arr = [
                { type: 'checkbox', fixed: 'left' },
                //标题栏
                { field: 'id', title: 'ID', fixed: 'left', minWidth: 60, expandedWidth: 60, sort: true },
                { field: 'name', title: '任务名', minWidth: 100, expandedWidth: 100, sort: true },
                { field: 'cities', title: '城市', minWidth: 100, expandedWidth: 100, sort: true },
                { field: 'channels', title: '检索渠道', minWidth: 100, expandedWidth: 100, sort: true },
                { field: 'interval', title: '时间间隔', minWidth: 140, expandedWidth: 140 },
                { field: 'start_datetime', title: '开始时间', minWidth: 200, expandedWidth: 200, sort: true },
                { field: 'end_datetime', title: '结束时间', minWidth: 200, expandedWidth: 200, sort: true },
                {
                  title: '状态',
                  minWidth: 100,
                  expandedWidth: 100,
                  sort: true,
                  templet: function (d) {
                    var end = new Date(d.end_datetime.replace(/-/g, '/'))
                    var now = new Date()
                    if (end > now) {
                      return '<button type="button" class="layui-btn layui-btn-sm layui-btn-radius">未过期</button>'
                    } else {
                      return '<button type="button" class="layui-btn layui-btn-sm layui-btn-danger layui-btn-radius">已过期</button>'
                    }
                  }
                },
                { field: 'description', title: '任务描述', minWidth: 180, expandedWidth: 180 },
                {
                  fixed: 'right',
                  title: '操作',
                  width: 200,
                  align: 'center',
                  toolbar: '#task-tool' // 设置每行的工具按钮
                }
              ]
              // 初始化筛选状态
              var local = layui.data('task-filter-local') // 获取对应的本地记录
              // console.log(local) // {description: true, time: true, position: true}
              layui.each(arr, function (index, item) {
                // console.log(index)  0-9
                // console.log(item) // {field: 'time', title: '时间', minWidth: 80, expandedWidth: 80}
                if (item.field in local) {
                  item.hide = local[item.field]
                }
              })
              // console.log(task_keys)
              return arr
            })()
          ],
          done: function () {
            // 记录筛选状态
            var that = this
            that.elem.next().on('mousedown', 'input[lay-filter="LAY_TABLE_TOOL_COLS"]+', function () {
              var input = $(this).prev()[0]
              // 此处表名可任意定义
              // console.log(input.name)    // city
              // console.log(input.checked) // true
              // console.log(task_keys)
              layui.data('task-filter-local', {
                key: input.name,
                value: input.checked
              })
            })
          }
        })
      
        // 表头工具栏事件
        table.on('toolbar(task-table)', function (obj) {
          if (obj.event === 'task-toolbar-add') {
            // 增加数据
            $('#task-form')[0].reset()
            layer.open({
              type: 1,
              shade: false,
              content: $('#task-form'),
              area: ['50%', '80%']
            })
            form.render($('#task-form'))
          }
        })
      
        // 表内工具栏事件
        table.on('tool(task-table)', function (obj) {
          if (obj.event === 'task-tool-edit') {
            // 编辑
            // console.log(obj.data)
            var cities = obj.data.cities.split(':')
            cities.forEach(function (city) {
              obj.data[city] = 'on'
            })
            form.val('task-form', obj.data) // 将数据填充到表格中
            layer.open({
              type: 1,
              shade: false,
              content: $('#task-form'),
              area: ['50%', '80%']
            })
          } else if (obj.event === 'task-tool-del') {
            // 删除
            layer.confirm('真的删除行 [id: ' + obj.data.id + '] 么', function (index) {
              obj.del() // 删除对应行（tr）的DOM结构
              layer.close(index)
              // 向服务端发送删除指令
              // 删除
              $.ajax({
                url: `/api/v1/function/task/${obj.data.id}`,
                type: 'DELETE',
                contentType: 'application/json',
                headers: {
                  'X-CSRF-TOKEN': getCookie('csrf_access_token')
                },
                success: function (res) {
                  if (!res.code) {
                    table.reloadData('task-table') // 刷新表格
                    popup.success(res.msg)
                  }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                  popup.failure(XMLHttpRequest.responseJSON.msg)
                }
              })
            })
          } else if (obj.event == 'task-tool-more') {
            // 更多 - 下拉菜单
            dropdown.render({
              elem: this, // 触发事件的 DOM 对象
              SHOW: true, // 外部事件触发即显示
              data: [
                {
                  title: '查看',
                  id: 'detail'
                },
                {
                  title: '删除',
                  id: 'delete'
                }
              ],
              click: function (menudata) {
                if (menudata.id == 'detail') {
                  // console.log(obj.data)
                  // layer.msg(obj.data.id)
                  layer.alert(layui.util.escape(JSON.stringify(obj.data)))
                } else if (menudata.id == 'delete') {
                  // 删除
                  layer.confirm('真的删除行 [id: ' + obj.data.id + '] 么', function (index) {
                    obj.del() // 删除对应行（tr）的DOM结构
                    layer.close(index)
                    // 向服务端发送删除指令
                    // 删除
                    $.ajax({
                      url: `/api/v1/function/task/${obj.data.id}`,
                      type: 'DELETE',
                      contentType: 'application/json',
                      headers: {
                        'X-CSRF-TOKEN': getCookie('csrf_access_token')
                      },
                      success: function (res) {
                        if (!res.code) {
                          table.reloadData('task-table') // 刷新表格
                          popup.success(res.msg)
                        }
                      },
                      error: function (XMLHttpRequest, textStatus, errorThrown) {
                        popup.failure(XMLHttpRequest.responseJSON.msg)
                      }
                    })
                  })
                }
              },
              align: 'right', // 右对齐弹出
              style: 'box-shadow: 1px 1px 10px rgb(0 0 0 / 12%);' // 设置额外样式
            })
          }
        })
      
        // 表单 自定义验证规则
        form.verify({
          otherReq: function (value, item) {
            var $ = layui.$
            var verifyName = $(item).attr('name'),
              verifyType = $(item).attr('type'),
              formElem = $(item).parents('.layui-form'), //获取当前所在的form元素，如果存在的话
              verifyElem = formElem.find('input[name=' + verifyName + ']'), //获取需要校验的元素
              isTrue = verifyElem.is(':checked'), //是否命中校验
              focusElem = verifyElem.next().find('i.layui-icon') //焦点元素
            if (!isTrue || !value) {
              //定位焦点
              focusElem.css(verifyType == 'radio' ? { color: '#FF5722' } : { 'border-color': '#FF5722' })
              //对非输入框设置焦点
              focusElem
                .first()
                .attr('tabIndex', '1')
                .css('outline', '0')
                .blur(function () {
                  focusElem.css(verifyType == 'radio' ? { color: '' } : { 'border-color': '' })
                })
                .focus()
              return '必填项不能为空'
            }
          },
          word_num: function(value, item){
            var varify_name = $(item).attr('name')
            if (value.length > 30){
              popup.failure(varify_name + " 的输入字数请限制在 30 以内!")
              return '输入字数请限制在 30 以内!'
            }
          }
        })
      
        // 表单提交按钮触发
        form.on('submit(task-form-add)', function (data) {
          var field = data.field
          let method, url
      
          // console.log(field)
          if (field.id == 0) {
            // 增加
            field.id = null
            method = 'POST'
            url = '/api/v1/function/task'
          } else {
            // 修改
            method = 'PUT'
            url = `/api/v1/function/task/${field.id}`
          }
          $.ajax({
            url: url,
            type: method,
            contentType: 'application/json',
            headers: {
              'X-CSRF-TOKEN': getCookie('csrf_access_token')
            },
            data: JSON.stringify(field),
            success: function (res) {
              if (!res.code) {
                layer.closeAll()
                table.reloadData('task-table')
                popup.success(res.msg)
              }
            }
          })
          return false
        })
      
        // 时间选择器
        laydate.render({
          elem: '#task-form-interval',
          type: 'time',
          // min: '00:30:00'
        })
      
        laydate.render({
          elem: '#task-form-start-datetime',
          type: 'datetime'
        })
      
        laydate.render({
          elem: '#task-form-end-datetime',
          type: 'datetime'
        })
      })
    </script>
  </body>
</html>
